.category_list_container{
    display: grid;
    Grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.category_list_container a{
    background-color: #C98C8C;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: 1em;
    padding: 3rem 0rem 3rem 2rem;
    color: white;
    border: 2px solid #C98C8C;
}

.category_list_container a:hover{
    color:  #540E0E;
    border: 2px solid #540E0E;
}