.productlist-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(6, minmax(50px, auto));
    column-gap: 4em;
    margin: 2em;
}

.standard-card{
    display: grid;
   /*  grid-template-columns: repeat(3, 1fr); */
   grid-template-rows: subgrid;
   grid-row: span 6;
   margin-top: 40px;
   border: 2px solid #540E0E;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
}

.image-div img{
    width: 100%;
}

.soldout-image{
    grid-row: 1;
}

.not-soldout{
    display: none;
}

.no-discount{
    display: none;
}

.SoldOut{
    grid-row: 1;
    background-color: #A94747;
    text-align: center;
    opacity: 60%;
    color: white;
    text-decoration-line: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    display: block;
}


.product-link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration-line: none;
    font-size: 20px;
    grid-row: 6;
    background-color: #540E0E;
    padding: 0.6em;
    border-radius: 20px;
    text-align: center;
}
.product-link:hover{
    color: #A94747;
}

h2{
    color: black;
    margin: 1em;
}

.type-and-brand,
.price{
    padding-left: 2em;
}

.type-and-brand{
    color: #540E0E;
    opacity: 45%;
    text-decoration-line: underline;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.price-and-percentage{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.percentage{
    background-color: #F82424;
    padding: 0.7em;
    margin-right: 1em;
    text-align: center;
    color: white;
    font-weight: bold;
}

.now-price{
    font-size: 22px;
    margin-left: 1em;
}